.menu
  ul.menu__list
    li.menu__item
      a.menu__link(href='#') Обьявление
    li.menu__item
      a.menu__link(href='#') Магазины
    li.menu__item
      a.menu__link(href='#') Бизнес
    li.menu__item
      a.menu__link(href='#') Помощь

  ul.menu__list
    li.menu__item
      a.menu__link.menu__link_blue(href='#') icon
    li.menu__item
      a.menu__link.menu__link_blue(href='#') Вход и регистрация
    li.menu__item
      a.menu__link.menu__link_btn(href='#') Подать обьявление
